<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%c] %d{HH:mm:ss,SSS} [%yellow(%t)] %highlight(%-5level) - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="FLAIR-Log" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="DEBUG"/>
</configuration>