<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3.1.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>FLAIR Exercise Generation</display-name>

	<!-- Filters -->
	<filter>
		<filter-name>GzipFilter</filter-name>
        <filter-class>com.flair.server.filters.GzipFilter</filter-class>
	</filter>

    <!--    Disabled as it breaks the app on pre-chrominum Edge -->
    <!--    <filter-mapping>-->
    <!--        <filter-name>GzipFilter</filter-name>-->
    <!--        <servlet-name>InteropService</servlet-name>-->
    <!--    </filter-mapping>-->

	<!-- Listeners -->
	<listener>
        <listener-class>com.flair.server.interop.FlairWebAppContextListener</listener-class>
	</listener>

    <listener>
        <listener-class>com.flair.server.interop.BasicHttpSessionListener</listener-class>
    </listener>

	<!-- Servlets -->
	<servlet>
        <servlet-name>CorpusUpload</servlet-name>
        <servlet-class>com.flair.server.interop.CorpusUploadServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>NLPInit</servlet-name>
        <servlet-class>com.flair.server.interop.NLPInitServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>InteropService</servlet-name>
        <servlet-class>com.flair.server.interop.InteropServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NLPInit</servlet-name>
        <url-pattern>/flair/NLPInit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CorpusUpload</servlet-name>
        <url-pattern>/flair/CorpusUploadEndpoint</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>InteropService</servlet-name>
        <url-pattern>/flair/InteropEndpoint</url-pattern>
	</servlet-mapping>

    <!-- Session Config -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>FLAIR.html</welcome-file>
	</welcome-file-list>

</web-app>
