/*
 * Common styles
 */
 
/*
 * Scrollbars
 */
 ::-webkit-scrollbar {
    max-width: 10px !important;
    max-height: 10px !important;
    background: #ffffff !important;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #ffffff !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(244, 176, 66, .5) !important;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #ffffff !important;
}

::selection {
    background-color: #ffa131 !important;
    color: #fff !important;
}
 
/*
 * Weight widget styles
 */
.generic-weight-slider-toggle {
	
}

.generic-weight-slider-wrapper {
	
}

.generic-weight-slider-slider {
	
}

.construction-weight-slider-badge {
	
}

/*
 * Document length widget styles
 */
.doc-length-slider-wrapper {
	
}

.doc-length-slider-slider {
	
}

.doc-length-slider {
	
}

/*
 * Visualizer styles
 */
svg {
	font: 10px sans-serif;
}

.background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.foreground path {
	fill: none;
	stroke: steelblue;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	cursor: move;
}